NEXT_PUBLIC_SITE_URL=https://zirafashions.com
NEXT_PUBLIC_WHATSAPP_NUMBER=234XXXXXXXXXX
GEMINI_API_KEY=AIzaSy...
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=sk...
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
